
.content-login h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
}
.content-login .login-form {
    display: flex;
    justify-content: center;
}
.form-control {
    border-radius: 15px;
}
.btn-default {
    width: 50%;
    border-radius: 15px;
    background: red;
    color: #ffffff;
}
