<div class="content-breadcrumb">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <%if(title!="Home"){%>
                    <li><%=title%></li>
                <%}else{%>
                    <li>All</li>
                <%}%>
                
            </ul>
        </div>
    </div>
</div>