<div class="content-breadcrumb">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <ul class="breadcrumb">
                <li><a href="index.html">Categories </a></li>
                <li>Sensor</li>
            </ul>
        </div>
    </div>
</div>